@page "/Admin"

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

<hr/>
<MatButton Unelevated="true" @onclick="ClearAll" >Clear All Riders From Teams</MatButton>

<hr />
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <DraftContainer RiderList="Helper.AvailableRiders" OnExistingRiderUndo="Helper.HandleRemoveExistingRider" OnRiderDrafted="Helper.HandleRiderDrafted" OnTeamSave="Helper.HandleSaveChanges" OnRiderUndo="Helper.HandleRiderUndo">

                <div class="mat-layout-grid-cell mat-layout-grid-cell">
                    <DraftRiderList ></DraftRiderList>
                </div>

             <div class="mat-layout-grid-cell mat-layout-grid-cell">   
        <MatTabGroup>
            <MatTab Label="Dana">                
                    <DraftTeam Team="Helper.Dana" IsAdmin="true"></DraftTeam>
                </MatTab>
            <MatTab Label="Ryan">
                    <DraftTeam Team="Helper.Ryan" IsAdmin="true"></DraftTeam>
            </MatTab>
                <MatTab Label="Tim">
                    <DraftTeam Team="Helper.Tim" IsAdmin="true"></DraftTeam>
                </MatTab>
                <MatTab Label="Alex">
                    <DraftTeam Team="Helper.Alex" IsAdmin="true"></DraftTeam>
                </MatTab>
                <MatTab Label="Allen">
                    <DraftTeam Team="Helper.Allen" IsAdmin="true"></DraftTeam>
                </MatTab>
                <MatTab Label="Bill">
                    <DraftTeam Team="Helper.Bill" IsAdmin="true"></DraftTeam>
                </MatTab>
            
 
        </MatTabGroup>
        </div>
                
        

            </DraftContainer>
        </div>
