
<li class="draggable" draggable="true" title="@Rider.Name" @ondragstart="@(() => HandleDragStart(Rider))">
    <p class="description">@Rider.Name</p>
    <p class="last-updated"><small>Cost:</small> @Rider.CurrentYearCost</p>
</li>