@using FantasyCyclingParser



<div class="rider-status">
    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var rider in RiderList)
        {
            <DraftRider Rider="rider" />
        }

    </ul>
</div>
