@using FantasyCyclingParser



<div class="rider-status">
        <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th> '@previousYear Points</th>
                <th>Draft</th>
            </tr>
        </thead>
        <tbody>
            <GetFilterData 
                Items=@RiderList GetFilterableText=@(item => $"{item.Name} {item.CurrentYearCost} " )>
                <DraftRider Rider="@context" />
        </GetFilterData>
        </tbody>
        </table>
     
</div>