@using FantasyCyclingParser

<h3>Selected Riders </h3>
<table id="currentTable" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Rider r in SelectedRiders)
        {
            if (r != null)
            {
                <tr>
                    <td>@r.Name </td>
                    <td>@r.CurrentYearCost</td>              
                </tr>
            }
        }

    </tbody>
</table>