
@{
    ViewBag.Title = "Draft";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@using FantasyCyclingParser;
@model RiderPhoto

    <style>
        #div1 {
            width: 350px;
            height: 70px;
            padding: 10px;
            border: 1px solid #aaaaaa;
        }
    </style>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            console.log("data:" + data);
            var table = document.getElementById("myTable");
            var riderTable = document.getElementById("riderTable");
            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(2);

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);

            // Add some text to the new cells:
            cell1.innerHTML = "NEW CELL1";
            cell2.innerHTML = "NEW CELL2";
            //ev.target.appendChild(document.getElementById(data));

            var delRow = document.getElementById(data);
            delRow.remove();
            
        }
    </script>
<script src="~/js/DraftModule.js"></script>

<div id="pnlTargets" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>
                Fantasy Cycling Draft
            </h4>
        </div>
        <div class="heading-elements">
            <ul class="icons-list">
                @*<li><a data-action="collapse"></a></li>*@
                <!--<li><a data-action="close"></a></li>-->
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    </div>

    <div id="pnlInputs" class="panel-body">

        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" />

        <div class="inner">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="riderTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr id="1" draggable="true" ondragstart="drag(event)">
                                        <td>blah blah </td>
                                        <td>100</td>
                                    </tr>
                                    <tr id="2" draggable="true" ondragstart="drag(event)">
                                        <td>ryan </td>
                                        <td>200</td>
                                    </tr>
                                    <tr id="3" draggable="true" ondragstart="drag(event)">
                                        <td>bill </td>
                                        <td>300</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="panel-body">
                        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                        <hr />
                        <br />
                        <div class="table-responsive">
                            <table id="myTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>blah blah </td>
                                        <td>100</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
    </div>
</div>


