@using FantasyCyclingParser
@using FantasyCyclingWeb.Models
@model List<PDCTeamYear>

@foreach (PDCTeamYear ty in Model)
{
    <tr id="tr_@ty.GUID">
        <td>@ty.PDCTeamUID</td>
        <td>@ty.Year</td>
        <td>@ty.Name</td>
        <td><button id="btnDashboard" onclick="CONFIG.RemovePDCTeamUID('@ty.GUID');" class="btn btn-lg btn-danger right"><span class="ladda-label">Remove</span></button></td>
    </tr>
}
