


@{
    ViewBag.Title = "Config Admin";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>ConfigAdmin</h2>


<script src="~/js/ConfigModule.js"></script>

<div id="pnlTargets" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h4>
                Fantasy Cycling Draft
            </h4>
        </div>
        <div class="heading-elements">
            <ul class="icons-list">
                @*<li><a data-action="collapse"></a></li>*@
                <!--<li><a data-action="close"></a></li>-->
            </ul>
        </div>
        <a class="heading-elements-toggle"><i class="icon-menu"></i></a>
    </div>

    <div id="pnlInputs" class="panel-body">
        <div class="inner">
            <div class="row">
            </div>





        </div>
    </div>
</div>