<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.4.0" targetFramework="net452" />
  <package id="GeneticSharp" version="1.0.100" targetFramework="net452" />
  <package id="HelperSharp" version="0.0.4.2" targetFramework="net452" />
  <package id="MathNet.Numerics" version="3.13.1" targetFramework="net452" />
  <package id="mongocsharpdriver" version="1.11.0" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.12.3" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.12.3" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.12.3" targetFramework="net452" />
  <package id="MongoDB.Libmongocrypt" version="1.2.1" targetFramework="net452" />
  <package id="MongoRepository" version="1.6.11" targetFramework="net452" />
  <package id="NLog" version="4.7.10" targetFramework="net452" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net452" />
  <package id="SmartThreadPool.dll" version="2.2.3" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>