@using Recurop
@inject RecurringOperationsManager Recurop
@implements IDisposable


<div style="margin-top:55px; text-align:center">
    <div>
        <p style="font-size: 75px;">@_displayTime</p>
    </div>
 
</div>

